@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i|Open+Sans:400,700|Raleway:300,400,600,700&display=swap');

/* ==================== Global styles ==================== */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;

}

/* ==================== Container ==================== */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* ==================== Header ==================== */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    padding: 38px 0;
    align-items: center;
    border-bottom: 1px solid #505369;
}

/* ==================== Navigation menu ==================== */
.header-navmenu li{
    list-style: none;
    overflow: hidden;
    display: inline-block;
    margin-left: 60px;
    text-transform: uppercase;
}

.header-navmenu li:first-child {
    margin-left: 0;
}

.navmenu__link {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    opacity: 0.75;
    transition: opacity .2s linear;
}

.navmenu__link:hover {
    opacity: 1;
}

/* ==================== Section "Intro" ==================== */

.section-intro {
    max-width: 1900px;
    min-height: 750px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #31354f url("../img/intro-bq.png") center no-repeat /cover;
}

.intro-inner {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.092;
}

.intro_text {
    margin-bottom: 80px;
    padding: 0;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
}

/* ==================== Button ==================== */

.button {
    font-family: inherit;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background-color: #e84545;
    border-width: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s linear;
}

.button:hover {
    background-color: #b61616;
}

/* ==================== Intro button ==================== */

.intro_button {
    padding: 16px 46px 15px 53px;
}

/* ==================== Features ==================== */

.section-features {
    display: flex;
}

.features__item {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.features__item-pic {
    width: 60px;
}