@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i|Open+Sans:400,700|Raleway:300,400,600,700&display=swap');

/* ==================== Global styles ==================== */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;

}

/* ==================== Container ==================== */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ==================== Header ==================== */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    padding: 38px 0;
    align-items: center;
    border-bottom: 1px solid #505369;
}

/* ==================== Navigation menu ==================== */
.header-navmenu li{
    list-style: none;
    overflow: hidden;
    display: inline-block;
    margin-left: 60px;
    text-transform: uppercase;
}

.header-navmenu li:first-child {
    margin-left: 0;
}

.navmenu__link {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    opacity: 0.75;
    transition: opacity .2s linear;
}

.navmenu__link:hover {
    opacity: 1;
}

/* ==================== Section "Intro" ==================== */

.section-intro {
    max-width: 1900px;
    min-height: 750px;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #31354f url("../img/intro-bq.png") center no-repeat;
    background-size: cover;
}

.intro-inner {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.092;
}

.intro_text {
    margin-bottom: 80px;
    padding: 0;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
}

/* ==================== Button ==================== */

.button {
    font-family: inherit;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background-color: #e84545;
    border-width: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s linear;
}

.button:hover {
    background-color: #b61616;
}

/* ==================== Intro button ==================== */

.intro_button {
    padding: 16px 46px 15px 53px;
}

/* ==================== Features ==================== */
.section-features {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 90px 0;
}

.features__item {
    width: 33.33333%;
    text-align: center;     /* центрирование текста в блоке */
    padding: 0 44px;
    margin: 35px 0;
}

.features__item-pic {
    margin-bottom: 33px;
}

.features__item-name {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.features__item-desc {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* ==================== Section "Works" ==================== */

.section-works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.works__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e84545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.works__title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.works__text {
    font-size: 14px;
    color: #fff;
}

.works__content:hover {
    opacity: 0.8;
}

/* ==================== Section "Team" ==================== */

.section-team {
    display: flex;
    flex-wrap: wrap;
    margin: 100px -15px 70px;
}

.team__member {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 30px;
}

.member__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.member__name {
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 10px;
}

.member__position {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.member__desc {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    margin-bottom: 25px;
}

/* ==================== Social ==================== */

.social {
    display: flex;
    flex-wrap: wrap;
}

.social__item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e8ecee;
    margin-right: 4px;
    background-color: #fff;
    transition: background-color .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #e84545;
}

.social__icon {
    height: 18px;
    fill: #c6cacc;
    transition: fill .1s linear;
}

.social__icon:hover {
    fill: red;
}

/* ==================== Reviews ==================== */
.reviews {
    max-width: 1900px;
    margin: 0 auto;
    background-color: #53354a;
    overflow: hidden;
}
.reviews__item {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    position: relative;
    width: 50%;
    display: flex;    
    justify-content: flex-end;
}

.reviews__content {
    width: 50%;
    margin-top: 111px;
    padding-left: 84px;
}

.reviews__text {
    font-family: Cardo, sans-serif;
    font-size: 36px;
    font-style: italic;
    line-height: 1.16666;
    color: #fff;
    margin-bottom: 35px;
}

.reviews_author {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
}

/* ==================== Download ==================== */

.download {
    margin: 100px auto;
    text-align: center;
}

.download__title {
    font-weight: 300;
    font-size: 28px;
    line-height: .75;
    color: #2d3033;
    margin-bottom: 16px;
}

.downloand__subtitle {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 40px;
}

.download__button {
    padding: 18px 83px;
}

/* ==================== Footer ==================== */

.footer {
    max-width: 1900px;
    background-color: #3a3e64;
    margin: 0 auto;
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 70px 0 85px;
}

.footer__contacts__item {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.footer__contacts__item-header {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}

.footer__contacts__item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
    opacity: .5;
}

.footer__social__item {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
}

.footer__social__icon {
    fill: #fff;
}

/* ==================== Copyright ==================== */
.footer__copyright {
    margin: 0 auto;
    padding: 25px 0;
    background-color: #313454;

}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
    color: #808080;
}

.copyright__creator {
    color: #fff;
}

.hearts {
    font-size: 18px;
    color: #ff0000;
}