@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i|Open+Sans:400,700|Raleway:300,400,600,700&display=swap');

/* ==================== Global styles ==================== */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;

}

/* ==================== Container ==================== */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* ==================== Header ==================== */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    padding: 38px 0;
    align-items: center;
    border-bottom: 1px solid #505369;
}

/* ==================== Navigation menu ==================== */
.header-navmenu li{
    list-style: none;
    overflow: hidden;
    display: inline-block;
    margin-left: 60px;
    text-transform: uppercase;
}

.header-navmenu li:first-child {
    margin-left: 0;
}

.navmenu__link {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    opacity: 0.75;
    transition: opacity .2s linear;
}

.navmenu__link:hover {
    opacity: 1;
}

/* ==================== Section "Intro" ==================== */

.section-intro {
    max-width: 1900px;
    min-height: 750px;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #31354f url("../img/intro-bq.png") center no-repeat /cover;
}

.intro-inner {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.092;
}

.intro_text {
    margin-bottom: 80px;
    padding: 0;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
}

/* ==================== Button ==================== */

.button {
    font-family: inherit;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background-color: #e84545;
    border-width: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s linear;
}

.button:hover {
    background-color: #b61616;
}

/* ==================== Intro button ==================== */

.intro_button {
    padding: 16px 46px 15px 53px;
}

/* ==================== Features ==================== */
.section-features {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 90px 0;
}

.features__item {
    width: 33.33333%;
    text-align: center;     /* центрирование текста в блоке */
    padding: 0 44px;
    margin: 35px 0;
}

.features__item-pic {
    margin-bottom: 33px;
}

.features__item-name {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.features__item-desc {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* Works */

.section-works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.works__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e84545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.works__title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.works__text {
    font-size: 14px;
    color: #fff;
}

.works__content:hover {
    opacity: 0.8;
}

/* Section "Team" */

.section-team {
    width: 100%;
    display: flex;
    margin: 100px auto;
}

.team__member {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.team__member:nth-last-child(1) {
    margin-right: 0;
}

.member__photo {
    margin-bottom: 25px;
}

.member__name {
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 10px;
}

.member__position {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.member__desc {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    margin-bottom: 25px;
}