body {
    background: url("../img/bg.png");
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.container-form {
    width: 450px;
    background-color: rgba(24, 33, 52, 0.7);
    margin: 250px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 10px #3adbfd;
    border-radius: 5px 5px 10px 10px;
    padding-bottom: 20px;
}

.container-form img{
    width:  120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
    box-shadow: 0 -5px 5px #3adbfd;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    padding-left: 45px;
    border: 0;
    border-radius: 4px;
}

input:hover {
    box-shadow: 0 0 6px 3px rgb(74, 140, 181, .5);
}

.btn-submit {
    font-size: 15px;
    padding: 15px 30px;
    margin: 5px 0 20px 0;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}

.btn-submit:hover {
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}

.input-login::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    content: "\f007";
    position: absolute;
    padding: 10px 0 0 7px;
    font-size: 30px;
    color: #2c536c;
}

.input-pwd::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f084";
    position: absolute;
    padding: 10px 0 0 7px;
    font-size: 30px;
    color: #2c536c;
}

.input-login:hover::before, .input-pwd:hover::before {
    color: #4a8cb5;
    transition: all 0.3s;
}

.social i{
    width: 20px;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

.social i:hover {
    background-color: #fff;
    color: #1a394f;
    border-radius: 5px;
    cursor: pointer;
}